@import '../../../mixins.scss';

  .tab{
    @include flex-center-center;
    @include text-caption;
    position: relative;
    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
    border-right: var(--border-standart);
    &:hover{
      background-color: var(--color-gray);
    }
    &_home{
      width: var(--size-icon-standart);
      height: var(--size-icon-standart);
    }
    &_active{
      background-color: var(--color-white);
      &:after{
        position: absolute;
        width: 100%;
        height: 1px;
        top: 100%;
        content: '';
        background-color: #fff;
      }
      &:hover{
        background-color: var(--color-white);
      }
    }
    &__close{
      position: absolute;
      @include button-with-icon;
      right: 0;
      height: 100%;
      width: 36px;
      background-image: url(../../../../public/icons/cross.svg);
      box-shadow: -8px 0px 8px 0px #E6E6E6;
      background-color: var(--color-gray);
      &_active{
        background-color: var(--color-white);
        box-shadow: -8px 0px 8px 0px #FFFFFF;
      }
    }
  }